In [ ]:
#https://www.climatewatchdata.org/data-explorer/historical-emissions?historical-emissions-data-sources=cait&historical-emissions-gases=co2&historical-emissions-regions=All%20Selected&historical-emissions-sectors=total-including-lucf%2Ctransportation&page=1&sort_col=country&sort_dir=ASC

In [1]:
import requests
import json
import pandas as pd

In [2]:
emissions_file="../Resources/emissions_data.csv"
emissions_df=pd.read_csv(emissions_file, encoding="ISO-8859-1")
emissions_df.head()

,Country,1751,1752,1753,1754,1755,1756,1757,1758,1759,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,8.515264e+07,9.191295e+07,1.003652e+08,1.125912e+08,1.233332e+08,1.333337e+08,1.431228e+08,1.532303e+08,1.654882e+08,1.785029e+08
1,Africa,0,0,0,0,0,0,0,0,0,...,3.183077e+10,3.301904e+10,3.421283e+10,3.541120e+10,3.664504e+10,3.789569e+10,3.918617e+10,4.047518e+10,4.178583e+10,4.311757e+10
2,Albania,0,0,0,0,0,0,0,0,0,...,2.287948e+08,2.331696e+08,2.377643e+08,2.430001e+08,2.479062e+08,2.529662e+08,2.586784e+08,2.646261e+08,2.708990e+08,2.772782e+08
3,Algeria,0,0,0,0,0,0,0,0,0,...,2.894820e+09,3.015005e+09,3.132819e+09,3.252626e+09,3.380736e+09,3.513171e+09,3.656348e+09,3.806940e+09,3.957319e+09,4.107870e+09
4,Americas (other),0,0,0,0,0,0,0,0,0,...,7.746025e+10,7.961787e+10,8.187178e+10,8.416656e+10,8.654197e+10,8.894874e+10,9.139192e+10,9.382747e+10,9.624253e+10,9.864116e+10

In [ ]:
clean_emissions_df=emissions_df.range

In [4]:
emissions_df.columns

Index(['Country', '1751', '1752', '1753', '1754', '1755', '1756', '1757',
       '1758', '1759',
       ...
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017'],
      dtype='object', length=268)

In [3]:
emissions_df.describe()

,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,...,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02
mean,1.214354e+05,2.429184e+05,3.644015e+05,4.859321e+05,6.075102e+05,7.374633e+05,8.674639e+05,9.975121e+05,1.127608e+06,1.257704e+06,...,1.398744e+10,1.431951e+10,1.469829e+10,1.504459e+10,1.543729e+10,1.578588e+10,1.617543e+10,1.653158e+10,1.691931e+10,1.732373e+10
std,1.060948e+06,2.122313e+06,3.183677e+06,4.245457e+06,5.307652e+06,6.443017e+06,7.578797e+06,8.714993e+06,9.851605e+06,1.098822e+07,...,8.981685e+10,9.188034e+10,9.454156e+10,9.661454e+10,9.929591e+10,1.013842e+11,1.040596e+11,1.061600e+11,1.088358e+11,1.115423e+11
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.493352e+07,2.574326e+07,2.644592e+07,2.710177e+07,2.768984e+07,2.862802e+07,2.976871e+07,3.105887e+07,3.268508e+07,3.421887e+07
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.045568e+08,2.129394e+08,2.209573e+08,2.300825e+08,2.416023e+08,2.507415e+08,2.563229e+08,2.621147e+08,2.680755e+08,2.737319e+08
75%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.394520e+09,2.449266e+09,2.506229e+09,2.563067e+09,2.620797e+09,2.677380e+09,2.713781e+09,2.776195e+09,2.855434e+09,2.987929e+09
max,9.350528e+06,1.870472e+07,2.805891e+07,3.741677e+07,4.677829e+07,5.678467e+07,6.679472e+07,7.680843e+07,8.682581e+07,9.684318e+07,...,1.260000e+12,1.290000e+12,1.330000e+12,1.360000e+12,1.400000e+12,1.430000e+12,1.470000e+12,1.500000e+12,1.540000e+12,1.580000e+12

In [14]:
url="https://www.kaggle.com/unitednations/international-greenhouse-gas-emissions?select=greenhouse_gas_inventory_data_data.csv"
print(requests.get(url))

<Response [200]>